.Image17{
    background:url("/static/images/market/wood.png");
}

.Image20 {
    background-image: url("/static/images/market/coffee.png");
}

.Image26 {
    background-image: url("/static/images/market/gems.png");
}

.Image25 {
    background-image: url("/static/images/market/rum.png");
}

.Image24 {
    background-image: url("/static/images/market/silk.png");
}

.Image22 {
    background-image: url("/static/images/market/spices.png");
}

.Image21 {
    background-image: url("/static/images/market/sugarcane.png");
}

.Image19 {
    background-image: url("/static/images/market/tea.png");
}

.Image23 {
    background-image: url("/static/images/market/tobacco.png");
}

.Image18 {
    background-image: url("/static/images/market/grain.png");
}

.Image12 {
    background-image: url("/static/images/market/bombard.png");
}

.Image13 {
    background-image: url("/static/images/market/kulevrin.png");
}

.Image11 {
    background-image: url("/static/images/market/mortar.png");
}

.Image16 {
    background-image: url("/static/images/market/buckshot.png");
}

.Image14 {
    background-image: url("/static/images/market/cannonball.png");
}

.Image15 {
    background-image: url("/static/images/market/chain.png");
}

.Image6 {
    background-image: url("/static/images/market/mast_1.png");
}

.Image7 {
    background-image: url("/static/images/market/mast_2.png");
}

.Image8 {
    background-image: url("/static/images/market/mast_3.png");
}

.Image9 {
    background-image: url("/static/images/market/mast_4.png");
}

.Image10{
    background-image:url("/static/images/market/mast_5.png");
}