#ship {
    animation-name: city;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    position: fixed;
    bottom: 15%;
    z-index: 10;
}
.layer, .timer {
	position: absolute;
}

.timer {
	z-index: 10;
}

@keyframes city {
    from { left: -700px; }
    to { left: 100%; }
}
html, body{
	background-image: url("../images/travel/fog_sea.jpg");
    height: 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	/*background: linear-gradient(to top, #5080b1, #004e8c) fixed;*/
    display: block;
   /* margin: auto;*/
    overflow: hidden;
}

main {
    width: 50%;
    min-height: 411px;
    display: block;
    margin: auto;
    background: rgba(255,255,255,0.6);
    padding: 20px;
}